<div class="row">
	<div class="span12">
		<div class="marketing">
            <%= link_to "Evaluate", { :controller => "chunks" }, :id => "eval_btn", :class => "btn" %>
            <%= link_to "Comment", { :controller => "chunks" }, :id => "comment_btn", :class => "btn" %>
		  <h3>Activity Stream</h3>

            <h4>Opencomments</h4>
            <ul>
                <% @Opencomments.each do |opencomment| %>
                    <li>
                        <%= opencomment.created_at %>
                        <%= link_to 'Show', opencomment %> 
                    </li>
                <% end %>
            </ul>

            <h4>Evaluations</h4>
            <ul>
                <% @Evaluations.each do |evaluation| %>
                    <li>
                        <%= evaluation.created_at %>
                        <%= link_to 'Show', evaluation %> 
                    </li>
                <% end %>
            </ul>
    	</div>
	</div>
</div>