<div class="row">
	<div class="hero-unit span12">
		<h2>Let's Start Commenting!</h2>
		<div class="span5">
			<p>Evaluate some open-source code to help fellow programmers</p>
			<%= link_to "Evaluate", { :controller => "chunks" }, :id => "eval_btn", :class => "btn btn-primary" %>
		</div>
		<div class="span5">
			<p>Or you can earn points by commenting on open source code!</p>
			<%= link_to "Comment", { :controller => "chunks" }, :id => "comment_btn", :class => "btn btn-primary" %>
		</div>
	</div>
</div>

<div class="row">
	<div class="marketing">
		<h2>Why</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tortor urna, hendrerit euismod condimentum nec, adipiscing non lorem. Sed non velit quam, sit amet interdum metus. Aliquam nec hendrerit massa. Vivamus consequat fermentum feugiat. Proin mollis, nunc vel fermentum imperdiet, mi tortor convallis ante, cursus dignissim ante dui et erat. Sed eget erat diam. Etiam quis ipsum vel velit blandit molestie et et lectus.</p>
		<hr class="soften">
		<h2>How</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tortor urna, hendrerit euismod condimentum nec, adipiscing non lorem. Sed non velit quam, sit amet interdum metus. Aliquam nec hendrerit massa. Vivamus consequat fermentum feugiat. Proin mollis, nunc vel fermentum imperdiet, mi tortor convallis ante, cursus dignissim ante dui et erat. Sed eget erat diam. Etiam quis ipsum vel velit blandit molestie et et lectus.</p>
	</div>
</div>