<div class="row">
	<div class="span12">
	<p id="notice"><%= notice %></p>

	<p>
	  <b>Comment:</b>
	  <%= @chunk.comment %>
	</p>

	<p>
	  <b>Code:</b>
	  <%= @chunk.code %>
	</p>

	<%= link_to 'Edit', edit_chunk_path(@chunk) %> |
	<%= link_to 'Back', chunks_path %>

	<hr />

	<h1>New Comment</h1>

	<%= form_for [@opencomment] do |f| %>
	  <% if @opencomment.errors.any? %>
	    <div class="error_messages">
	      <h2>Please correct the following errors.</h2>
	      <ul>
	      <% @opencomment.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>

	  <div class="field">
	    <%= f.text_area :comment, :rows => 8 %>
	  </div>
	  <div class="actions">
	    <%= f.submit %>
	  </div>
	<% end %>

	</div>
</div>
