<%= simple_form_for(@opencomment) do |f| %>
  <%= f.error_notification %>

  <%= f.button :submit %>

  <div class="form-inputs">
  	<!-- For Chunk ID to match opencomment to -->
  	<%= hidden_field_tag :chunk_id,  :value  => @Chunk.id %>
  	<%= hidden_field_tag :commenter, :value  => current_user.email  %>
  	<%= f.input :body, :label => "Opencomment" %>
  </div>
<% end %>
