<h1>Listing opencomments</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @opencomments.each do |opencomment| %>
  <tr>
    <td><%= link_to 'Show', opencomment %></td>
    <td><%= link_to 'Edit', edit_opencomment_path(opencomment) %></td>
    <td><%= link_to 'Destroy', opencomment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Opencomment', new_opencomment_path %>
