<h3>Adding Opencomment for Chunk #<%= @Chunk.id %></h3>

<%= link_to 'Back', request.env['HTTP_REFERER'], :class => "btn"  %>

<div style="margin-top: 10px;" class="row">
    <div class="span8">
        <%= render 'form' %>
        <%= raw Pygments.highlight(@Chunk.code, lexer: 'java') %>
    </div>
</div>

