<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "COMTOR" %></title>
    <%= csrf_meta_tag %> 

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag :defaults %>
    <%= ajaxful_rating_style %>
    <%= yield(:head) %>
    <style>
      .footer {
        padding: 70px 0;
        margin-top: 70px;
        border-top: 1px solid #e5e5e5;
        background-color: #f5f5f5;
      }
      .footer p {
        margin-bottom: 0;
        color: #777;
      }
      .footer-links {
        margin: 10px 0;
      }
      .footer-links li {
        display: inline;
        margin-right: 10px;
      }
      .marketing {
        text-align: center;
        color: #5A5A5A;
      }
      hr.soften {
        height: 1px;
        margin: 70px 0;
        background-image: -webkit-linear-gradient(left, transparent, rgba(0, 0, 0, .1), transparent);
        background-image: -moz-linear-gradient(left, transparent, rgba(0, 0, 0, .1), transparent);
        background-image: -ms-linear-gradient(left, transparent, rgba(0, 0, 0, .1), transparent);
        background-image: -o-linear-gradient(left, transparent, rgba(0, 0, 0, .1), transparent);
        border: 0;
      }
      ul {
        list-style-type: none;
      }
    </style>
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">COMTOR</a>
          <div class="container nav-collapse">
            <ul class="nav">
              <li><a href="/chunks">Code Chunks</a></li>
              <li><a href="/admin">Admin</a></li>
            </ul>

            <!-- User Account Nav Button -->
            <ul class="nav pull-right">
              <li class="divider-vertical"></li>
                <% if user_signed_in? %>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.email %><b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <%= link_to 'Edit profile', edit_user_registration_path %>
                    <li class="divider"></li>
                    <%= link_to "Logout", destroy_user_session_path, method: :delete %>
                  </ul>
                </li>
              <% else %>
                <li><%= link_to "Sign up", new_user_registration_path %></li>
                <li><%= link_to "Login", new_user_session_path %></li>
              <% end %>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    <div class="container">
      <div class="content">
        <!-- Flash Messages Row -->
        <div class="row">
           <div class="span12">
              <!-- Flash Messages -->        
              <% flash.each do |name, msg| %>
                <%= content_tag :div, msg, id: "flash_#{name}"%>
              <% end %>
              <!-- /end flash messages -->
            </div>
        </div><!--/row-->

        <%= yield %>

      </div><!--/content-->
    </div> <!-- /container -->
    <footer class="footer">
      <div class="container">
        <ul class="footer-links">
          <li><a href="#">About</a></li>
        </ul>
        <p>&copy; COMTOR.org 2012</p>
      </div>
    </footer>

    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "application" %>
  </body>
</html>
