<%= simple_form_for(@evaluation) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <label>Attribute #1</label>
    <%= f.number_field :attribute_one, :in => 0...6 %>
    <label>Attribute #2</label>
    <%= f.number_field :attribute_two, :in => 0...6 %>
    <label>Attribute #3</label>
    <%= f.number_field :attribute_three, :in => 0...6 %>
    <label>Attribute #4</label>
    <%= f.number_field :attribute_four, :in => 0...6 %>
    <label>Attribute #5</label>
    <%= f.number_field :attribute_five, :in => 0...6 %>

    <%= hidden_field_tag :user_id, value = current_user.id %>
    <%= hidden_field_tag :chunk_id, value = @Chunk.id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
