<label>Attribute 1:</label>
<%= ratings_for @Chunk, :dimension => :attr1 %>

<label>Attribute 2:</label>
<%= ratings_for @Chunk, :dimension => :attr2 %>

<label>Attribute 3:</label>
<%= ratings_for @Chunk, :dimension => :attr3 %>

<label>Attribute 4:</label>
<%= ratings_for @Chunk, :dimension => :attr4 %>

<label>Attribute 5:</label>
<%= ratings_for @Chunk, :dimension => :attr5 %>