<h1>Listing evaluations</h1>

<table>
  <tr>
    <th>Attribute one</th>
    <th>Attribute two</th>
    <th>Attribute three</th>
    <th>Attribute four</th>
    <th>Attribute five</th>
    <th>User</th>
    <th>Chunk</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @evaluations.each do |evaluation| %>
  <tr>
    <td><%= evaluation.attribute_one %></td>
    <td><%= evaluation.attribute_two %></td>
    <td><%= evaluation.attribute_three %></td>
    <td><%= evaluation.attribute_four %></td>
    <td><%= evaluation.attribute_five %></td>
    <td><%= evaluation.user_id %></td>
    <td><%= evaluation.chunk_id %></td>
    <td><%= link_to 'Show', evaluation %></td>
    <td><%= link_to 'Edit', edit_evaluation_path(evaluation) %></td>
    <td><%= link_to 'Destroy', evaluation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Evaluation', new_evaluation_path %>
