<h1>New evaluation</h1> 

<%= link_to 'Back', request.env['HTTP_REFERER'], :class => "btn"  %>

<div style="margin-top: 10px;" class="row">
	<div class="span8">
		<%= raw Pygments.highlight(@Chunk.comment + @Chunk.code, lexer: 'java') %>
	</div>
	<div class="span2 well">
		<%= render 'rating' %>
	</div>
</div>
