<p id="notice"><%= notice %></p>

<p>
  <b>Attribute one:</b>
  <%= @evaluation.attribute_one %>
</p>

<p>
  <b>Attribute two:</b>
  <%= @evaluation.attribute_two %>
</p>

<p>
  <b>Attribute three:</b>
  <%= @evaluation.attribute_three %>
</p>

<p>
  <b>Attribute four:</b>
  <%= @evaluation.attribute_four %>
</p>

<p>
  <b>Attribute five:</b>
  <%= @evaluation.attribute_five %>
</p>

<p>
  <b>User:</b>
  <%= @evaluation.user_id %>
</p>

<p>
  <b>Chunk:</b>
  <%= @evaluation.chunk_id %>
</p>


<%= link_to 'Edit', edit_evaluation_path(@evaluation) %> |
<%= link_to 'Back', evaluations_path %>
