<%= simple_form_for @Chunk, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :comment %>
  <%= f.input :code %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                chunks_path, :class => 'btn' %>
  </div>
<% end %>
