<%- model_class = Chunk -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @chunks.each do |chunk| %>
      <tr>
        <td><%= link_to chunk.id, chunk_path(chunk) %></td>
        <td><%=l chunk.created_at %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
            chunk_path(chunk), :class => 'btn btn-mini' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_chunk_path(chunk), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      chunk_path(chunk),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
          <a href="chunks/<%= chunk.id %>/opencomments/new" class="btn btn-mini">Comment</a>
          <a href="chunks/<%= chunk.id %>/evaluations/new" class="btn btn-mini">Evaluate</a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_chunk_path,
            :class => 'btn btn-primary' %>
