<%- model_class = Chunk -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
  <%= link_to t('.back', :default => t("helpers.links.back")),
            chunks_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
            edit_chunk_path(@chunk), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
            chunk_path(@chunk),
            :method => 'delete',
            :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
            :class => 'btn btn-danger' %>
  <a href="<%= @chunk.id %>/opencomments/new" class="btn">Comment</a>
  <a href="<%= @chunk.id %>/evaluations/new" class="btn">Evaluate</a>
</div>

<div class="row">
  <div class="span12">
    <%= raw Pygments.highlight(@chunk.comment, lexer: 'java') %>
    <%= raw Pygments.highlight(@chunk.code, lexer: 'java') %>
  </div>
</div>

<h3>Opencomments</h3>
<table class="table table-striped">
  <tr>
    <th>#</th>
    <th>Commenter</th>
    <th>Created at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @Opencomments.each do |opencomment| %>
  <tr>
    <td><%= opencomment.id %></td>
    <td><%= opencomment.commenter %></td>
    <td><%= opencomment.created_at %></td>
    <td><%= link_to 'Show', opencomment %></td>
    <td><%= link_to 'Edit', edit_opencomment_path(opencomment) %></td>
    <td><%= link_to 'Destroy', opencomment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<h3>Evaluations</h3>
<table class="table table-striped">
  <tr>
    <th>#</th>
    <th>User ID</th>
    <th>Created at</th>
    <th>Attr. 1</th>
    <th>Attr. 2</th>
    <th>Attr. 3</th>
    <th>Attr. 4</th>
    <th>Attr. 5</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @Evaluations.each do |evaluation| %>
  <tr>
    <td><%= evaluation.id %></td>
    <td><%= evaluation.user_id %></td>
    <td><%= evaluation.created_at %></td>
    <td><%= evaluation.attribute_one %>
    <td><%= evaluation.attribute_two %>
    <td><%= evaluation.attribute_three %>
    <td><%= evaluation.attribute_four %>
    <td><%= evaluation.attribute_five %>
    <td><%= link_to 'Show', evaluation %></td>
    <td><%= link_to 'Edit', edit_evaluation_path(evaluation) %></td>
    <td><%= link_to 'Destroy', evaluation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
